
.tagbar {
    background-color: rgb(248, 248, 248);

    width: 240px;
    flex-shrink: 0;
    height: 100%;

    position: relative;
    /*position: sticky;*/
    /*top: 0;*/
    /*left: 0;*/

    border-right: 1px solid rgb(181, 181, 181);
}

.tagbar__logo {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.tagbar__title {
    height: 60px;

    position: relative;
    z-index: 20;

    padding: 15px 0 15px 15px;
    margin-bottom: 0;

    border-top: 1px solid rgb(181, 181, 181);
    box-shadow: 0px 4px 5px -2px rgba(34, 60, 80, 0.23);

    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: 700;
}

.tagbar__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow-y: scroll;
    /*overflow-x: hidden;*/
    height: calc(100% - 70px - 60px - 55px);

    z-index: 10;


    list-style: none;
    margin-bottom: 0;
    padding: 20px 10px 20px 15px;
}

.add-new-tag {
    padding: 0 20px;
    height: 55px;
    z-index: 20;

    width: 100%;
    display: flex;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgb(248, 248, 248);
    box-shadow: 0px -4px 5px -2px rgba(34, 60, 80, 0.23);
}

.add-new-tag__input{
    border: none;
    border-bottom: 1px solid rgba(134, 134, 134, 0);
    background-color: transparent;
    color: #878686;
    transition: border .2s ease-out;
    padding: 5px 5px 0 5px;

    margin-bottom: 5px;
    margin-right: 6px;
}
.add-new-tag__input:focus {
    outline: none;
    border-bottom: 1px solid rgba(134, 134, 134, 1);
}


.add-new-tag__btn {
    border: none;
    background-color: transparent;

}
.add-new-tag__btn svg{
    width: 15px;
    height: 16px;
    fill: #000000;
}
.add-new-tag__btn:disabled svg {
    fill: #787878;
}
